body{
    /* border: 2px solid red; */
    overflow-x: hidden !important;
    width: 100%;
}
*{
    overflow-x: hidden !important;
    border: 2px solid red;
    padding: 0;
    margin: 0;
}
.para{
    color: #9E9DA2;
    
        font-size: 1.25rem;
        font-weight: 300;
    }
    .link{
        background-color:#75BF7A;
    }
    .apply{

         width: 260px; 
height: 55px;
    }
    .works h1{
        font-family: Gilroy;
font-size: 46.39px;
font-weight: 800;
line-height: 50.35px;
text-align: left;

    }
    .tere{
        color:#75BF7A;
    }