body{
    border: 2px solid red;
    overflow-x: hidden !important;
    width: 100%;
}
*{
    
    padding: 0;
    margin: 0;
}
.para{
    color: #9E9DA2;
    
        font-size: 1.25rem;
        font-weight: 300;
    }
    
    