body{
    /* border: 2px solid red; */
    overflow-x: hidden !important;
    width: 100%;
}
*{
    /* overflow-x: hidden !important; */
    border: 2px solid red;
    padding: 0;
    margin: 0;
}
.para{
    color: #9E9DA2;
    
        font-size: 1.25rem;
        font-weight: 300;
    }
    .link{
        background-color:#75BF7A;
    }
    .apply{

         width: 260px; 
height: 55px;
    }
    .works h1{

font-weight: 800;
line-height: 50.35px;
text-align: left;

    }
    .tere{
        color:#75BF7A;
    }
    .works p{
        color:#9E9DA2; 
        font-size: 23px;
         font-weight: 500;
         line-height: 26px;
         /* width: 620px;
height: 96px;
padding-left: 50px; */
    }
    .top{
            width: 60.82px;
            height: 60.82px;
        
    }
    .card-body h3{
        /* font-family: Gilroy; */
font-size: 22px;
font-weight: 800;
line-height: 50.35px;
text-align: right;

    }
    .card-body p{
        /* font-family: Gilroy; */
font-size: 20px;
font-weight: 500;
line-height: 26px;
text-align: right;
color: #9E9DA2;
    }